h1 {color: skyblue;
font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px
}
h2 {color: slategray;
font-family: 'Noto Sans JP', sans-serif;
}
h3 {color: slategray;
font-family: 'Noto Sans JP', sans-serif;
}
h4 {color: slategray;
font-family: 'Noto Sans JP', sans-serif;
}
body {
font-family: 'Noto Sans JP', sans-serif;
  background-color: lightgoldenrodyellow;
}
}
<style>
a:link {
  color: lightsteelblue;
  background-color: aliceblue;
  text-decoration: none;
}

a:visited {
  color: lightsteelblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: powderblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: lightsteelblue;
  background-color: transparent;
  text-decoration: underline;
}


    </style>